<div class="container">
  <div class="row">
      <%= render 'shared/iphone' %>
      <div class="col-lg-4">
        <div class="row align-items-center justify-content-center sign-up">
          <div class="col">
            <%= fa_icon 'instagram 3x' %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render 'shared/devise_error_messages' %>

              <div class="form-group">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: 'Name' %>
              </div>

              <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
              </div>

              <div class="form-group">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm Password' %>
              </div>

              <div class="form-group">
                <%= f.submit "Sign up", class: 'text-white  bg-primary' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <%= render "shared/devise_shared_links" %>
        </div>
      </div>
    </div>
</div>
