<div class="container">
  <div class="row">
      <%= render 'shared/iphone' %>
      <div class="col-lg-6 sign-up">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <%= fa_icon 'instagram 3x' %>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
              </div>

              <div class="form-group">
                <%= f.submit "Send Reset Instructions", class: 'text-white  bg-primary' %>
              </div>
              <% end %>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <%= render "shared/devise_shared_links" %>
        </div>
      </div>
    </div>
  </div>
</div>
