<div class="card mt-3">
  <div class="card-header">
    <%= link_to user_path(post.user), class: 'no-text-decoration' do %>
    <%= gravatar_image_tag post.user.email, gravatar: { size: 50 }, alt: 'Profile Picture', class: 'img-thumbnail rounded-circle' %>
  <% end %>
  <span class="ml-1">
    <strong><%= post.user.name %></strong>
  </span>
  <% if policy(post).destroy? %>
    <span>
      <%= link_to fa_icon('trash', class: 'fa-2x'), post_path(post), method: :delete, class: 'float-right delete-post-item' %>
    </span>
  <% end %>
</div>

<%= image_tag url_for(post.photo), class: 'card-img-top' %>
<div class="card-body">
  <div class="row actions ml-0">
    <%= render 'likes_actions', { my_likes: @my_likes, post: post} %>
    <a href="#" class="core-sprite comment hide-text"></a>
    <a href="#" class="core-sprite bookmark hide-text ml-auto"></a>
  </div>

  <%= render 'likes', { post: post} %>

  <p class="card-text">
    <span>
      <strong><%= post.user.name %></strong>
    </span>
    <%= post.content %></p>
  <hr/>

  <div id="comments-<%=post.id%>">
    <% post.comments.each do |comment| %>
      <%= render 'posts/comment', { comment: comment } %>
    <% end %>
  </div>
  <div class="row actions m-1" id="comments-form-<%=post.id%>">
    <%= render 'posts/comment_form', { comment: Comment.new, post: post } %>
  </div>
</div>

<div class="card-footer">
  <%= link_to 'Posted ' + time_ago_in_words(post.created_at) + ' ago', post %>
</div>
</div>