<div class="card mt-3">
  <div class="card-header">
    <%= link_to user_path(post.user), class: 'no-text-decoration' do %>
    <%= gravatar_image_tag post.user.email, gravatar: { size: 50 }, alt: 'Profile Picture', class: 'img-thumbnail rounded-circle' %>
  <% end %>
  <span class="ml-1"><strong><%= post.user.name %></strong></span>
  <span>
    <%= link_to fa_icon('trash', class: 'fa-2x'), post_path(post), method: :delete, class: 'float-right delete-post-item' %>
  </span>
</div>

<%= image_tag url_for(post.photo), class: 'card-img-top' %>
<div class="card-body">
  <div class="row actions ml-0">
    <a href="#" class="core-sprite love hide-text"></a>
    <a href="#" class="core-sprite comment hide-text"></a>
    <a href="#" class="core-sprite bookmark hide-text ml-auto"></a>
  </div>
  <div class="mt-2">
    <strong>
      <%= pluralize(16, 'like')%></strong>
  </div>
  <p class="card-text"><span><strong><%= post.user.name %></strong></span> <%= post.content %></p>
  <hr/>
  <div class="row actions">
    <form action="#" class="w-100">
      <div class="form-group">
        <textarea name="name" class="form-control border-0" placeholder="Add a comment" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>

<div class="card-footer">
  <%= link_to 'Posted ' + time_ago_in_words(post.created_at) + ' ago', post %>
</div>
</div>
