<div class="d-flex flex-column align-items-center mt-3">
  <div class="row post box col-xl-10 col-lg-11 col-xs-12">
    <div class="col-lg-8 col-md-7 px-0 d-flex">
      <div>
        <%= image_tag url_for(@post.photo), class: 'img-thumbnail rounded post-image' %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 mt-sm-4 mt-md-0">
      <div class="row px-3 d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <%= link_to user_path(@post.user), class: 'no-text-decoration' do %>
          <%= gravatar_image_tag @post.user.email, gravatar: { size: 50 }, alt: 'Profile Picture', class: 'img-thumbnail rounded-circle' %>
        <% end %>
        <span class="ml-1">
          <strong><%= @post.user.name %></strong>
        </span>
      </div>

      <% if policy(@post).destroy? %>
        <%= link_to fa_icon('trash', class: 'fa-2x'), post_path(@post), method: :delete, class: 'float-right delete-post-item' %>
      <% end %>

    </div>
    <hr class="mb-0"/>
    <div class="comment-list py-2">
      <span>
        <strong><%= @post.user.name %></strong>
      </span>
      <span><%= @post.content %></span>
      <br/>

      <div id="comments-<%=@post.id%>">
        <% @post.comments.each do |comment| %>
          <%= render 'posts/comment', { comment: comment } %>
        <% end %>
      </div>
    </div>
    <hr class="mt-2"/>
    <div class="row actions ml-1 mr-1">
      <%= render 'likes_actions', { my_likes: @my_likes, post: @post} %>
      <a href="#" class="core-sprite comment hide-text"></a>
      <%= render 'bookmark_actions', {bookmark: @bookmark, post: @post} %>
    </div>
    <div class="mt-2 ml-1 mr-1">
      <%= render 'likes', { post: @post} %>
      <div>
        <%= 'Posted ' + time_ago_in_words(@post.created_at) + ' ago' %>
      </div>
    </div>
    <hr/>
    <div class="row actions ml-1 mr-1" id="comments-form-<%=@post.id%>">
      <%= render 'posts/comment_form', { comment: Comment.new, post: @post } %>
    </div>
  </div>
</div>
</div>